.tree {
   position: absolute;
    z-index: 5; /* Higher than mountain's z-index */
    top: 53%;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
    width: 300vw;

    /* Any other positioning or styling */
  }

  @media (min-width:768px){
    .tree {
       top:40%;
       /* left:-240%; */
        /* Any other positioning or styling */
      }

  }

    @media (min-width:1200px){
        .tree{
            height:190vh;
            top:30%;
            /* left:-130%; */
        }
    }