.tree {
    z-index: 3;
    position: relative;
    /* width: 100%; */
    bottom: -5vh;
  }
  
  @media (min-width: 768px) {
    .tree {
      /* Adjust as necessary for different breakpoints */
    }
  }
  
  @media (min-width: 1200px) {
    .tree {
      /* Adjust as necessary for different breakpoints */
    }
  }
  