.Image{ 
    z-index:0;
    position:relative;
    /* overflow:hidden; */
    top:-70vh;
    height:200vh;
    left:-900px;
}
.hero{
    position:absolute;
    z-index:1;
    justify-content:center;
    align-items:center;
    text-align:left;
    top:4%;
    margin-left:1.5rem;
    margin-right:4rem;
}

@media (max-height:767px) and (orientation: landscape) {
    .Image{
        top:-50vh;
    }
    .hero{
        height:15vh;
    }
    }
.button{
    color:white;
    background-color:#132B3F;
    display:flex;
    align-items:center;
    border-radius:5px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
    height:45px;
}
.icon{
    filter: invert(1);
    margin-left:5px;
    
}
.hero h1{
font-size:26px;
}
.hero h2{
    margin-top:-10px;
    margin-bottom:40px;
    font-size:15px;
}

@media (min-width:768px){
.Image{
    left:-31rem;
    top:-30vh;
}
.hero {
    margin-left:4rem;
}
.hero h1{
    font-size:48px;
}
.hero h2{
    font-size:18px;
}
}
@media (min-width:1200px){
.Image{
    width:145vw;
    /* left:-30rem;*/
    top:-30vh; 
}
.hero{
margin-left:6rem;
top:8%;
}
.hero h1{
font-size:72px;
}
.hero h2{
    margin-top:-3rem;
    font-size:32px;
}
}